<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: 'Arial', sans-serif; background-color: #f4f4f9; margin: 0; padding: 20px; }
        .container { background-color: #ffffff; padding: 20px; margin-top: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .header { color: #022b3a; font-size: 24px; text-align: center; }
        .content { color: #333333; font-size: 16px; line-height: 1.6; }
        .footer { font-size: 14px; text-align: center; margin-top: 20px; color: #777777; }
        a { color: #1a73e8; text-decoration: none; }
        ul { list-style-type: none; padding: 0; }
        li { margin-bottom: 10px; }
    </style>
    <title th:text="${subject}">[Subject]</title>
</head>
<body>
<div class="container">
    <h1 class="header" th:text="${subject}">[Subject]</h1>
    <p class="content">Bonjour,</p>
    <p class="content">Vous avez reçu une nouvelle demande de <span th:text="${name}">[Name]</span>.</p>
    <p class="content">Voici le détail du message :</p>
    <p class="content" style="background-color: #f0f0f0; padding: 15px; border-left: 5px solid #022b3a;" th:text="${message}">[Message]</p>
    <p class="content">Vous pouvez contacter <span th:text="${name}">[Name]</span> via les moyens suivants :</p>
    <ul>
        <li>Email : <a th:href="'mailto:' + ${email}" th:text="${email}">[Email]</a></li>
        <li>Téléphone : <span th:href="'tel:' + ${phone}" th:text="${phone}">[Phone]</span></li>
    </ul>
    <p class="footer"><strong>Pan-Tilt Web-Contact</strong></p>
</div>
</body>
</html>
